name: nummy

services:

  # Postgres instance
  postgres:
    image: postgres:latest
    #container_name: nummy_postgres
    environment:
      - POSTGRES_DB=nummy_database
      - POSTGRES_USER=nummy_user
      - POSTGRES_PASSWORD=nummy_password
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - network

  # Nummy API instance
  api:
    image: hamidmusayev04/nummy-api:latest
    #container_name: nummy_api
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5433
      - POSTGRES_DB=nummy_database
      - POSTGRES_USER=nummy_user
      - POSTGRES_PASSWORD=nummy_password
      - UI_ADMIN_EMAIL=nummy_admin@nummy.com
      - UI_ADMIN_PASSWORD=nummy_admin_password
    ports:
      - "8082:8082"
      - "8083:8083"
    networks:
      - network

  # Nummy UI instance
  ui:
    image: hamidmusayev04/nummy-ui:latest
    #container_name: nummy_ui
    environment:
      - NUMMY_API_HOST=api
      - NUMMY_API_PORT=8082
    ports:
      - "8080:8080"
      - "8081:8081"
    networks:
      - network

volumes:
  postgres-data:

networks:
  network:
    driver: bridge
