@namespace NummyUi.Layouts
@using NummyUi.Components
@using NummyUi.Utils
@inherits LayoutComponentBase

@{
    var currentPath = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "/");
    var isLoginPage = currentPath.Contains("/user/login");
    var isRegisterPage = currentPath.Contains("/user/register");
    var isAuthPage = isLoginPage || isRegisterPage;
}

@if (isAuthPage)
{
    @Body
}
else
{
    <Layout>
        <Sider Breakpoint="BreakpointType.Lg" CollapsedWidth="64" @bind-Collapsed=@collapsed>
            <div class="logo" style="display: flex; align-items: center;">
                <img src="./pro_icon.svg" alt="logo" style="height: 32px; margin: 16px;"/>
                <span style="color: white; font-size: 18px; font-weight: 600;">Nummy</span>
            </div>
            <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[] { _selectedKey })
                  OnMenuItemClicked="@OnMenuItemSelected">
                @foreach (var menuItem in NummyContants.MenuDataItems)
                {
                    <MenuItem Key="@menuItem.Key">
                        <Icon Type="@menuItem.Icon"/>
                        <span class="nav-text">@menuItem.Name</span>
                    </MenuItem>
                }
            </Menu>
        </Sider>
        <Layout>
            <Header Class="site-layout-sub-header-background"
                    Style="color: grey; background-color: white; height: 64px; padding: 0 24px;">
                <HeaderContent/>
            </Header>
            <Content Style="margin: 32px 26px 0;">
                <div class="site-layout-background" style="min-height: 360px">
                    @Body
                </div>
            </Content>
            <Footer Style="text-align: center;">
                <FooterView Copyright="2023 SolarVoyager" Links="Links"></FooterView>
            </Footer>
        </Layout>
    </Layout>
    <SettingDrawer/>
}
