@page "/application/configuration/{ApplicationId:guid}"
@using NummyUi.Components

<Card>
    <GridRow>
        <Title Level="2" Style="margin-bottom: 8px">Configurations</Title>
    </GridRow>
    <GridRow>
        <Text Type="TextElementType.Secondary" Style="color: #00A0E9">Manage Your application's package configurations
        </Text>
    </GridRow>
    <Divider/>
    @if (_application != null)
    {
        <GridRow>
            <ApplicationConfigurationCard ApplicationId="@_application.Id.ToString()"/>
        </GridRow>
        <Divider/>
        <GridRow Style="margin-bottom: 20px; width: 100%;">
            <PackageCard Title="Nummy.ExceptionHandler"
                         Description="A .NET Core library for global exception handling in your application."
                         IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.exceptionhandler/1.5.0/icon"
                         BorderColor="red">
            </PackageCard>
        </GridRow>

        <GridRow Style="margin-bottom: 20px; width: 100%;">
            <PackageCard Title="Nummy.CodeLogger"
                         Description="A .NET Core library for code logging and monitoring."
                         IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.codelogger/1.5.0/icon"
                         BorderColor="orange">
            </PackageCard>
        </GridRow>

        <GridRow Style="margin-bottom: 20px; width: 100%;">
            <PackageCard Title="Nummy.HttpLogger"
                         Description="A .NET Core library for HTTP request/response logging."
                         IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.httplogger/1.5.0/icon"
                         BorderColor="green">
            </PackageCard>
        </GridRow>
    }
</Card>