@page "/application/configuration/{ApplicationId:guid}"
@using NummyUi.Components

<Card>
    <GridRow>
        <GridCol Span="24">
            <Title Level="4" Style="margin-bottom: 0">Configurations</Title>
            <Text Type="TextElementType.Secondary" Style="color: #00A0E9">
                You will need these values when configuring packages
            </Text>
        </GridCol>
        @if (_application != null)
        {
            <GridCol Span="24">
                <ApplicationConfigurationCard ApplicationId="@_application.Id.ToString()"/>
                <Title Level="4">Packages</Title>
            </GridCol>
            
            <GridCol Span="12">
                <PackageCard Title="Nummy.ExceptionHandler"
                             Description="A .NET Core library for global exception handling in your application."
                             IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.exceptionhandler/2.1.0/icon"
                             DocsUrl="https://www.nuget.org/packages/Nummy.ExceptionHandler/"
                             BorderColor="red">
                </PackageCard>
            </GridCol>

            <GridCol Span="12">
                <PackageCard Title="Nummy.CodeLogger"
                             Description="A .NET Core library for code logging and monitoring."
                             IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.codelogger/2.1.0/icon"
                             DocsUrl="https://www.nuget.org/packages/Nummy.CodeLogger/"
                             BorderColor="orange">
                </PackageCard>
            </GridCol>

            <GridCol Span="12">
                <PackageCard Title="Nummy.HttpLogger"
                             Description="A .NET Core library for HTTP request/response logging."
                             IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.httplogger/2.1.0/icon"
                             DocsUrl="https://www.nuget.org/packages/Nummy.HttpLogger/"
                             BorderColor="green">
                </PackageCard>
            </GridCol>

            <GridCol Span="12">
                <PackageCard Title="Nummy.HealthChecker"
                             Description="A .NET Core library for health checking."
                             IconUrl="https://api.nuget.org/v3-flatcontainer/nummy.healthchecker/1.0.0/icon"
                             DocsUrl="https://www.nuget.org/packages/Nummy.HealthChecker/"
                             BorderColor="darkorchid">
                </PackageCard>
            </GridCol>
        }
    </GridRow>
</Card>