@namespace NummyUi.Pages.Dashboard.Analysis
@page "/"
@using NummyUi.Components
@using NummyUi.Pages.Dashboard.Analysis.ComponentsNew.Charts
@using NummyUi.Pages.Dashboard.Analysis.Components.Charts.Field
@attribute [ReuseTabsPage(Title = "Dashboard", Pin = true, Closable = false, Order = 0)]

<GridContent>
    <MigrationPanel/>
    @if (_loading)
    {
        <Spin Size="large"/>
    }
    else
    {
        <Row Type="flex" Gutter="24">
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <ChartCard Title="Code Logs Total/Today"
                           Total="@(_totalCounts?.TotalCodeLogs.ToString() + " / 12")"
                           ContentHeight="46">
                    <ChildContent>
                        <Field Label="Errors" Description="* Including Fatal"
                               Value="@_totalCounts?.TotalErrorAndFatals.ToString()"/>
                    </ChildContent>
                    <Footer>
                        <Trend Flag="up">
                            Today Errors
                            <span class="trendText">@_totalCounts?.TodayErrorAndFatals</span>
                        </Trend>
                    </Footer>
                </ChartCard>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <ChartCard Title="Requests Total/Today"
                           Total="@(_totalCounts?.TotalRequests.ToString() + " / " + _totalCounts?.RequestsToday.ToString())"
                           ContentHeight="46">
                    <ChildContent>
                        <WeeklyRequests WeeklyCounts="@_totalCounts?.WeeklyRequests"/>
                    </ChildContent>
                    <Footer>
                        <Field Label="Weekly" Value="@_totalCounts?.RequestsThisWeek.ToString()"/>
                    </Footer>
                </ChartCard>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <ChartCard Title="Requests this Hour"
                           Total="@_totalCounts?.RequestsThisHour.ToString()"
                           ContentHeight="46">
                    <ChildContent>
                        <HourlyRequests HourlyCounts="@_totalCounts?.HourlyRequests"/>
                    </ChildContent>
                    <Footer>
                        <Field Label="Conversion Rate" Value="60%"/>
                    </Footer>
                </ChartCard>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <ChartCard Title="Operational Effect"
                           Total="78%"
                           ContentHeight="46">
                    <ChildContent>
                        <MiniProgress
                            Percent="78"
                            StrokeWidth="8"
                            Target="80"
                            Color="#13C2C2"/>
                    </ChildContent>
                    <Footer>
                        <Field Label="Conversion Rate" Value="60%"/>
                    </Footer>
                </ChartCard>
            </AntDesign.Col>
        </Row>
    }
    <DsnPanel/>

    @*<SalesCard/>*@
</GridContent>
