<div class="card-container">
    <div class="card-content">
        <Space Align="SpaceAlign.Center" Direction="DirectionVHType.Vertical">
            <Space Align="SpaceAlign.Center" Direction="DirectionVHType.Horizontal">
                <SpaceItem>
                    <Icon Type="@IconType.Outline.RadarChart" Theme="Outline" Spin/>
                </SpaceItem>
                <SpaceItem>
                    <Text Style="font-size: 17px" Strong>Nummy AI</Text>
                </SpaceItem>
            </Space>
            <Space Align="SpaceAlign.Center" Direction="DirectionVHType.Horizontal">
                <SpaceItem>
                    <Icon Type="@IconType.Outline.RadarChart" Style="opacity: 0" Theme="Outline"/>
                </SpaceItem>
                <SpaceItem>
                    <Text Style="font-size: 11px; color: #00A0E9">Based on your data Nummy focus you if something strange happens
                    </Text>
                </SpaceItem>
            </Space>
        </Space>
    </div>
</div>

<style>
    .card-container {
        position: relative;
        width: 600px;
        height: 420px;
        background: rgba(255, 255, 255, 0);
        border-radius: 4px;
        overflow: hidden;
        z-index: 0;
    }

    .card-container::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: conic-gradient(
            from 0deg,
            #00ffcc,
            #0066ff,
            #cc00ff,
            #00ffcc
        );
        animation: rotate 6s linear infinite;
        z-index: -2;
    }

    .card-container::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        right: 1px;
        bottom: 1px;
        background: #ffffff;
        border-radius: 3px;
        z-index: -1;
    }

    .card-content {
        padding: 24px;
        color: #bdacac;
    }

    .card-content h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .card-content p {
        font-size: 16px;
        line-height: 1;
        opacity: 0.8;
    }

    @@keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>