@namespace NummyUi.Components

@if (_pendingMigrations.Any() && _migrationResult == null)
{
    <Card Size="small" Style="margin-bottom: 12px; background-color: #fff0a8; border-color: #ffe21a" Bordered>
        <TitleTemplate>
            <Icon Type="alert" Theme="outline" /> You have @_pendingMigrations.Count() pending migrations
        </TitleTemplate>
        <Body>
        <p>Click to sync all migrations to your database</p>
        <Button OnClick="@Migrate">
            <Icon Type="fire"/>
            Migrate
        </Button>
        </Body>
    </Card>
}

@if (_migrationResult != null)
{
    @if (_migrationResult.Value)
    {
        <Card Size="small" Style="margin-bottom: 12px; background-color: #a8ffa9; border-color: #44ff1a" Bordered>
            <TitleTemplate>
                <Icon Type="double-right" Theme="outline" />
                Migrations completed successfully
            </TitleTemplate>
            <Body>
            <Button OnClick=@(()=>_migrationResult = null)>
                <Icon Type="check"/>
                Done
            </Button>
            </Body>
        </Card>
    }
    else
    {
        <p>Error occurred while migration.</p>
    }
}