@using NummyShared.DTOs.Enums

<div style="cursor: pointer">
    <Card BodyStyle="padding: 20px" Bordered Style=@($"border-color: {BorderColor}; border-radius: 4px;")>
        <GridRow>
            <GridCol>
                <Avatar Shape="AvatarShape.Square"
                        Src="@IconUrl"
                        Size="@("2.9em")"
                        Style="margin-right: 20px; border-radius: 4px">
                </Avatar>
            </GridCol>
            <GridCol>
                <Title Level="3">@Title</Title>
                <Text Type="TextElementType.Secondary">@Description</Text>
            </GridCol>
        </GridRow>
    </Card>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string IconUrl { get; set; }
    [Parameter] public string BorderColor { get; set; }
} 